KAFKA_HOST=host.docker.internal
KAFKA_PORT=9092
KAFKA_TOPIC=views

CLICKHOUSE_HOST=clickhouse-node-1
CLICKHOUSE_PORT=9000

SERVICE_HOST=ugc
AUTH_SERVICE_HOST=host.docker.internal
AUTH_SERVICE_PORT=5000

MOVIE_SERVICE_HOST=host.docker.internal
MOVIE_SERVICE_PORT=8004
