ETL/helper/ugc.log
ETL/ugc.log
.env
/ETL/.env
/ETL/ugc.log
/src/.env
/src/ugc.log
ugc/OLAP_research/views_data.csv
../.idea
.idea
**/.pytest_cache
__pycache__
__pycache__/
/benchmark/storage/bookmarks.csv
../benchmark/storage/user_data.csv
../benchmark/storage/user_rating.csv
../benchmark/storage/user_rating2.csv
../benchmark/storage/user_review.csv
../benchmark/storage/user_review2.csv
../Kafka/confluent-5.1.0
**/Kafka/confluent-5.1.0
../benchmark/storage/.ipynb_checkpoints
../benchmark/OLAP_research/.ipynb_checkpoints/


/src/logstash.db
